*{
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial, sans-serif;
}
section,main{
    height: 100vh;
    width: 100vw;
    position: fixed;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    flex-direction: column;
}
.wrapper{
    height: 60vh;
    width: 60vh;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.grid>input{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.red{
    grid-column: 1;
    grid-row: 1;
    background-color: red;
}
.blue{
    grid-column: 3;
    grid-row: 1;
    background-color: blue;
}
.green{
    grid-column: 3;
    grid-row: 3;
    background-color: green;
}
.yellow{
    grid-column: 1;
    grid-row: 3;
    background-color: yellow;
}














.hide{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.show{
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all 100ms linear;
}
